<!DOCTYPE html>  
<html lang="en">  
  
<head>  
    <title>  
          
    </title>  
</head>  
  
<body>  

    Successfully logged in
    Username:  <%=name%>  
    albums:  <%=album%>  

</body>  
  
</html> 