<!DOCTYPE html>  
<html lang="en">  
  
<head>  
    <title>  
        <%=title%>  
    </title>  
</head>  
  
<body>  
    <h1>  
        <%=heading%>  
    </h1>  
    <ul>  
        <% for(var i=0;i<foodItems.length;i++){ %>  
            <li>  
                <%=foodItems.values%></li>
            <li>    <%=foodItems[i].values%>  
            </li>  
            <% } %>  
    </ul>  
</body>  
  
</html> 